@using Core.Models
@using Manage.Tools.FileHandler.Abstraction
@using Core.Constants.File

@inject IFileService _fileService

@model ImageGalleryComponent
@{
    ViewData["Title"] = "Gallery";
}


<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="index" asp-controller="gallery" asp-area="admin">Gallery</a></li>
                    <li class="breadcrumb-item active">Details image component</li>
                </ol>
            </div>
            <h4 class="page-title">Details image component</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>

@if (TempData["message"] != null)
{
    <div class="alert alert-@TempData["message_type"]">
        @TempData["message"]
    </div>
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data" asp-action="editsubcomponent" asp-controller="environment" id="ourproject-create">
                    @Html.AntiForgeryToken()

                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="invalid-feedback" style="display:block"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" asp-for="Title_AZ"></label>
                                <input readonly class="form-control form-control" asp-for="Title_AZ">
                                <span asp-validation-for="Title_AZ" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" asp-for="Title_RU"></label>
                                <input readonly class="form-control form-control" asp-for="Title_RU">
                                <span asp-validation-for="Title_RU" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" asp-for="Title_EN"></label>
                                <input readonly class="form-control form-control" asp-for="Title_EN">
                                <span asp-validation-for="Title_EN" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" asp-for="Title_TR"></label>
                                <input readonly class="form-control form-control" asp-for="Title_TR">
                                <span asp-validation-for="Title_TR" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label" asp-for="Slug"></label>
                                <input readonly class="form-control form-control" asp-for="Slug">
                                <span asp-validation-for="Slug" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="d-flex m-0 bold-text">Photo</label>
                                @{
                                    var photoPath = _fileService.GetFileUrl(Model.PhotoName, FilePath.Gallery);
                                }
                                <img style="width:200px; object-fit:cover;" src="@photoPath" />
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th class="main-color text-center">Photo</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var imageGalleryComponentPhoto in Model.ImageGalleryComponentPhotos)
                                            {
                                                photoPath = _fileService.GetFileUrl(imageGalleryComponentPhoto.PhotoName, FilePath.Gallery);
                                                <tr>
                                                    <td class="text-center">
                                                        <img src="@photoPath" style="width: 200px; object-fit:cover;" />
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="form-group mt-3">
                    <button class="btn btn-sm btn-primary" type="submit" form="ourproject-create">Save</button>
                    @*<button class="btn btn-sm btn-primary" type="submit" form="user-create">Save and edit</button>*@
                    <a asp-action="index" asp-controller="gallery" asp-area="admin" class="btn btn-sm btn-danger">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/js/show_file_name.js"></script>
    <script src="~/Admin/vendor/slug.js"></script>

    <!-- validate js -->
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }


    <script>
        $('#Title_EN').on('input', function () {
            $('#Slug').val(slug($(this).val()));
        });
    </script>
}
