@using Core.Models
@using Manage.Tools.FileHandler.Abstraction
@using Core.Constants.File

@inject IFileService _fileService

@model NobelHeritage
@{
    ViewData["Title"] = "Nobel heritage";
}


<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="index" asp-controller="nobelheritage" asp-area="admin">Nobel heritage</a></li>
                    <li class="breadcrumb-item active">Details nobel heritage</li>
                </ol>
            </div>
            <h4 class="page-title">Details component</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>

@if (TempData["message"] != null)
{
    <div class="alert alert-@TempData["message_type"]">
        @TempData["message"]
    </div>
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form id="user-create">
                    @Html.AntiForgeryToken()

                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="invalid-feedback" style="display:block"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" asp-for="Title_AZ"></label>
                                <input readonly class="form-control form-control" asp-for="Title_AZ">
                                <span asp-validation-for="Title_AZ" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" asp-for="Title_RU"></label>
                                <input readonly class="form-control form-control" asp-for="Title_RU">
                                <span asp-validation-for="Title_RU" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" asp-for="Title_EN"></label>
                                <input readonly class="form-control form-control" asp-for="Title_EN">
                                <span asp-validation-for="Title_EN" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" asp-for="Title_TR"></label>
                                <input readonly class="form-control form-control" asp-for="Title_TR">
                                <span asp-validation-for="Title_TR" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" asp-for="Content_AZ"></label>
                                <textarea class="form-control form-control" asp-for="Content_AZ"></textarea>
                                <span asp-validation-for="Content_AZ" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" asp-for="Content_RU"></label>
                                <textarea class="form-control form-control" asp-for="Content_RU"></textarea>
                                <span asp-validation-for="Content_RU" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" asp-for="Content_EN"></label>
                                <textarea class="form-control form-control" asp-for="Content_EN"></textarea>
                                <span asp-validation-for="Content_EN" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" asp-for="Content_TR"></label>
                                <textarea class="form-control form-control" asp-for="Content_TR"><</textarea>
                                <span asp-validation-for="Content_TR" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" asp-for="ContentWWA_AZ"></label>
                                <textarea class="form-control form-control" asp-for="ContentWWA_AZ"></textarea>
                                <span asp-validation-for="ContentWWA_AZ" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" asp-for="ContentWWA_RU"></label>
                                <textarea class="form-control form-control" asp-for="ContentWWA_RU"></textarea>
                                <span asp-validation-for="ContentWWA_RU" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" asp-for="ContentWWA_EN"></label>
                                <textarea class="form-control form-control" asp-for="ContentWWA_EN"></textarea>
                                <span asp-validation-for="ContentWWA_EN" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" asp-for="ContentWWA_TR"></label>
                                <textarea class="form-control form-control" asp-for="ContentWWA_TR"><</textarea>
                                <span asp-validation-for="ContentWWA_TR" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="d-flex m-0 bold-text" for=""><span>Main Photo</span></label>
                                <img style="width:200px; object-fit:cover;" src="@_fileService.GetFileUrl(Model.PhotoName, FilePath.NobelHeritage)" />
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th class="main-color text-center">Photo</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var nobelHeritagePhoto in Model.NobelHeritagePhotos)
                                            {
                                                var photoPath = _fileService.GetFileUrl(nobelHeritagePhoto.PhotoName, FilePath.NobelHeritage);
                                                <tr>
                                                    <td class="text-center">
                                                        <img src="@photoPath" style="width: 200px; object-fit:cover;" />
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Admin/vendor/ckeditor/ckeditor.js"></script>
    <script src="~/common/js/show_file_name.js"></script>
    <!-- validate js -->
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>
        ClassicEditor
            .create(document.querySelector('#Content_AZ'), {
                viewportTopOffset: 50,
                toolbar: ['heading', '|', 'bold', 'italic', 'bulletedList', 'link']
            })
            .then(editor => {
                editor.isReadOnly = true; // make the editor read-only right after initialization
            })
            .catch(error => {
                console.error(error);
            })

        ClassicEditor
            .create(document.querySelector('#Content_RU'), {
                viewportTopOffset: 50,
                toolbar: ['heading', '|', 'bold', 'italic', 'bulletedList', 'link']
            })
            .then(editor => {
                editor.isReadOnly = true; // make the editor read-only right after initialization
            })
            .catch(error => {
                console.error(error);
            })


        ClassicEditor
            .create(document.querySelector('#Content_EN'), {
                viewportTopOffset: 50,
                toolbar: ['heading', '|', 'bold', 'italic', 'bulletedList', 'link']
            })
            .then(editor => {
                editor.isReadOnly = true; // make the editor read-only right after initialization
            })
            .catch(error => {
                console.error(error);
            })

        ClassicEditor
            .create(document.querySelector('#Content_TR'), {
                viewportTopOffset: 50,
                toolbar: ['heading', '|', 'bold', 'italic', 'bulletedList', 'link']
            })
            .then(editor => {
                editor.isReadOnly = true; // make the editor read-only right after initialization
            })
            .catch(error => {
                console.error(error);
            })

        ClassicEditor
            .create(document.querySelector('#ContentWWA_AZ'), {
                viewportTopOffset: 50,
                toolbar: ['heading', '|', 'bold', 'italic', 'bulletedList', 'link']
            })
            .then(editor => {
                editor.isReadOnly = true; // make the editor read-only right after initialization
            })
            .catch(error => {
                console.error(error);
            })

        ClassicEditor
            .create(document.querySelector('#ContentWWA_RU'), {
                viewportTopOffset: 50,
                toolbar: ['heading', '|', 'bold', 'italic', 'bulletedList', 'link']
            })
            .then(editor => {
                editor.isReadOnly = true; // make the editor read-only right after initialization
            })
            .catch(error => {
                console.error(error);
            })


        ClassicEditor
            .create(document.querySelector('#ContentWWA_EN'), {
                viewportTopOffset: 50,
                toolbar: ['heading', '|', 'bold', 'italic', 'bulletedList', 'link']
            })
            .then(editor => {
                editor.isReadOnly = true; // make the editor read-only right after initialization
            })
            .catch(error => {
                console.error(error);
            })

        ClassicEditor
            .create(document.querySelector('#ContentWWA_TR'), {
                viewportTopOffset: 50,
                toolbar: ['heading', '|', 'bold', 'italic', 'bulletedList', 'link']
            })
            .then(editor => {
                editor.isReadOnly = true; // make the editor read-only right after initialization
            })
            .catch(error => {
                console.error(error);
            })
    </script>
}
