@using Manage.Areas.Admin.Models.DynamicPageManagement
@model DynamicPageDetailsViewModel
@{
    ViewData["Title"] = "Dynamic Pages";
}


@section plugin_styles{
    <link rel="stylesheet" href="~/Areas/Admin/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css" />
    <link rel="stylesheet" href="~/Areas/Admin/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css" />
    <link href="~/Areas/Admin/plugins/select2/select2.min.css" asp-append-version="true" rel="stylesheet" type="text/css" />
}

<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="list" asp-controller="dynamicpage" asp-area="admin">Dynamic Pages</a></li>
                    <li class="breadcrumb-item active">Details</li>
                </ol>
            </div>
            <h4 class="page-title">Details dynamic page</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>

@if (TempData["message"] != null)
{
    <div class="alert alert-@TempData["message_type"]">
        @TempData["message"]
    </div>
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data" id="companyservice-edit">
                    @Html.AntiForgeryToken()

                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="invalid-feedback" style="display:block"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label" asp-for="URL"></label>
                                <input readonly class="form-control form-control" asp-for="URL">
                                <span asp-validation-for="URL" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" asp-for="BannerTitle_AZ"></label>
                                <input readonly class="form-control form-control" asp-for="BannerTitle_AZ">
                                <span asp-validation-for="BannerTitle_AZ" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" asp-for="BannerTitle_RU"></label>
                                <input readonly class="form-control form-control" asp-for="BannerTitle_RU">
                                <span asp-validation-for="BannerTitle_RU" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" asp-for="BannerTitle_EN"></label>
                                <input readonly class="form-control form-control" asp-for="BannerTitle_EN">
                                <span asp-validation-for="BannerTitle_EN" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" asp-for="BannerTitle_TR"></label>
                                <input readonly class="form-control form-control" asp-for="BannerTitle_TR">
                                <span asp-validation-for="BannerTitle_TR" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>                       
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label" asp-for="ContentPage_AZ"></label>
                                <textarea disabled="true" rows="10" class="form-control form-control" asp-for="ContentPage_AZ"></textarea>
                                <span asp-validation-for="ContentPage_AZ" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label" asp-for="ContentPage_RU"></label>
                                <textarea disabled="true" rows="10" class="form-control form-control" asp-for="ContentPage_RU"></textarea>
                                <span asp-validation-for="ContentPage_RU" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label" asp-for="ContentPage_EN"></label>
                                <textarea disabled="true" rows="10"  class="form-control form-control" asp-for="ContentPage_EN"></textarea>
                                <span asp-validation-for="ContentPage_EN" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label" asp-for="ContentPage_TR"></label>
                                <textarea disabled="true" rows="10" class="form-control form-control" asp-for="ContentPage_TR"><</textarea>
                                <span asp-validation-for="ContentPage_TR" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="d-flex m-0 bold-text" for=""><span>Banner Photo</span></label>
                                <img style="width:200px; object-fit:cover;" src="@Model.BannerPhotoPath" />
                                <div class="custom-file">
                                    <label class="custom-file-label"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="form-group mt-3">
                    <a asp-action="list" asp-controller="dynamicpage" asp-area="admin" class="btn btn-sm btn-danger">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>


@section plugin_scripts{
    <!-- Plugins js -->
    <script src="~/Areas/Admin/plugins/moment/moment.js" asp-append-version="true"></script>
    <script src="~/Areas/Admin/plugins/daterangepicker/daterangepicker.js" asp-append-version="true"></script>
    <script src="~/Areas/Admin/plugins/select2/select2.min.js" asp-append-version="true"></script>
    <script src="~/Areas/Admin/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js" asp-append-version="true"></script>
    <script src="~/Areas/Admin/plugins/timepicker/bootstrap-material-datetimepicker.js" asp-append-version="true"></script>
    <script src="~/Areas/Admin/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js" asp-append-version="true"></script>
    <script src="~/Areas/Admin/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js" asp-append-version="true"></script>
    <script src="~/Areas/Admin/assets/pages/jquery.forms-advanced.js" asp-append-version="true"></script>
}


@section scripts{
    <script src="~/Admin/vendor/slug.js" asp-append-version="true"></script>
    <script src="~/Admin/vendor/ckeditor/ckeditor4/ckeditor.js" asp-append-version="true"></script>
    <script src="~/common/js/show_file_name.js" asp-append-version="true"></script>
    <!-- validate js -->
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>
        $('#Title_EN').on('input', function () {
            $('#Slug').val(slug($(this).val()));
        });

        const contents = ["#ContentPage_AZ", "#ContentPage_RU", "#ContentPage_EN", "#ContentPage_TR"];

        for (const content of contents) {
            CKEDITOR.replace(document.querySelector(content), {
            toolbar: [],
            customConfig: '/admin/vendor/ckeditor/ckeditor4/customConfig.js'
        });
        }
    </script>
}
