@using Manage.Areas.Admin.Models.PageManagement.Environment
@using Manage.Tools.FileHandler.Abstraction
@using Core.Constants.File

@inject IFileService _fileService

@model EnvironmentDetailsSubComponentViewModel
@{
    ViewData["Title"] = "Environment";
}


<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="index" asp-controller="environment" asp-area="admin">Environment Sub Component</a></li>
                    <li class="breadcrumb-item active">Details sub-component</li>
                </ol>
            </div>
            <h4 class="page-title">Details sub-component</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>

@if (TempData["message"] != null)
{
    <div class="alert alert-@TempData["message_type"]">
        @TempData["message"]
    </div>
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data" id="ourproject-create">
                    @Html.AntiForgeryToken()

                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="invalid-feedback" style="display:block"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" asp-for="Title_AZ"></label>
                                <input readonly class="form-control form-control" asp-for="Title_AZ">
                                <span asp-validation-for="Title_AZ" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" asp-for="Title_RU"></label>
                                <input readonly class="form-control form-control" asp-for="Title_RU">
                                <span asp-validation-for="Title_RU" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" asp-for="Title_EN"></label>
                                <input readonly class="form-control form-control" asp-for="Title_EN">
                                <span asp-validation-for="Title_EN" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" asp-for="Title_TR"></label>
                                <input readonly class="form-control form-control" asp-for="Title_TR">
                                <span asp-validation-for="Title_TR" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label" asp-for="Slug"></label>
                                <input readonly class="form-control form-control" asp-for="Slug">
                                <span asp-validation-for="Slug" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" asp-for="Content_AZ"></label>
                                <textarea class="form-control form-control" asp-for="Content_AZ"></textarea>
                                <span asp-validation-for="Content_AZ" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" asp-for="Content_RU"></label>
                                <textarea class="form-control form-control" asp-for="Content_RU"></textarea>
                                <span asp-validation-for="Content_RU" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" asp-for="Content_EN"></label>
                                <textarea class="form-control form-control" asp-for="Content_EN"></textarea>
                                <span asp-validation-for="Content_EN" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" asp-for="Content_TR"></label>
                                <textarea class="form-control form-control" asp-for="Content_TR"><</textarea>
                                <span asp-validation-for="Content_TR" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" asp-for="ContentEnvironment_AZ"></label>
                                <textarea class="form-control form-control" asp-for="ContentEnvironment_AZ"></textarea>
                                <span asp-validation-for="ContentEnvironment_AZ" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" asp-for="ContentEnvironment_RU"></label>
                                <textarea class="form-control form-control" asp-for="ContentEnvironment_RU"></textarea>
                                <span asp-validation-for="ContentEnvironment_RU" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" asp-for="ContentEnvironment_EN"></label>
                                <textarea class="form-control form-control" asp-for="ContentEnvironment_EN"></textarea>
                                <span asp-validation-for="ContentEnvironment_EN" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" asp-for="ContentEnvironment_TR"></label>
                                <textarea class="form-control form-control" asp-for="ContentEnvironment_TR"></textarea>
                                <span asp-validation-for="ContentEnvironment_TR" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="custom-control custom-switch switch-success">
                                    <input readonly asp-for="isBanner" class="custom-control-input">
                                    <label class="custom-control-label" asp-for="isBanner"></label>
                                    <span asp-validation-for="isBanner" class="invalid-feedback" style="display:block"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="d-flex m-0 bold-text" asp-for="PhotoPath_Environment"></label>
                                <img style="width:200px; object-fit:cover;" src="@Model.PhotoPath_Environment" />
                                @*<div class="custom-file">
                                        <input asp-for="Photo_Safety" class="form-control custom-file-input" accept="image/*" />
                                        <label class="custom-file-label"></label>
                                    </div>*@
                                <span class="text-danger validate-message d-inline-block py-2" asp-validation-for="PhotoPath_Environment"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th class="main-color text-center">Photo</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var environmentSubComponentPhoto in Model.EnvironmentSubComponentPhotos)
                                            {
                                                var photoPath = _fileService.GetFileUrl(environmentSubComponentPhoto.PhotoName, FilePath.Environment);
                                                <tr>
                                                    <td class="text-center">
                                                        <img src="@photoPath" style="width: 200px; object-fit:cover;" />
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Admin/vendor/ckeditor/ckeditor.js"></script>
    <script src="~/js/show_file_name.js"></script>
    <!-- validate js -->
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }


    <script>
        const contents = ["#Content_AZ", "#Content_RU", "#Content_EN", "#Content_TR", "#ContentEnvironment_AZ", "#ContentEnvironment_RU", "#ContentEnvironment_EN", "#ContentEnvironment_TR"];

        for (const content of contents) {
            ClassicEditor
                .create(document.querySelector(content), {
                    viewportTopOffset: 50,
                    toolbar: ['heading', '|', 'bold', 'italic', 'bulletedList', 'link'],
                })
                .then(editor => {
                    editor.isReadOnly = true; // make the editor read-only right after initialization
                })
                .catch(error => {
                    console.error(error);
                })
        }
    </script>
}
