@using Manage.Areas.Admin.Models.ComponentManagement.Vacancy
@model VacancyDetailsViewModel
@{
    ViewData["Title"] = "Vacancy";
}

<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="list" asp-controller="vacancy" asp-area="admin">Vacancy</a></li>
                    <li class="breadcrumb-item active">Details</li>
                </ol>
            </div>
            <h4 class="page-title">Details vacancy</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>

@if (TempData["message"] != null)
{
    <div class="alert alert-@TempData["message_type"]">
        @TempData["message"]
    </div>
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form method="POST" id="user-create">
                    @Html.AntiForgeryToken()

                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="invalid-feedback" style="display:block"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" asp-for="Title_AZ"></label>
                                <input readonly class="form-control form-control" asp-for="Title_AZ">
                                <span asp-validation-for="Title_AZ" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" asp-for="Title_RU"></label>
                                <input readonly class="form-control form-control" asp-for="Title_RU">
                                <span asp-validation-for="Title_RU" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" asp-for="Title_EN"></label>
                                <input readonly class="form-control form-control" asp-for="Title_EN">
                                <span asp-validation-for="Title_EN" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" asp-for="Title_TR"></label>
                                <input readonly class="form-control form-control" asp-for="Title_TR">
                                <span asp-validation-for="Title_TR" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" asp-for="Content_AZ"></label>
                                <textarea readonly class="form-control" asp-for="Content_AZ"></textarea>
                                <span asp-validation-for="Content_AZ" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" asp-for="Content_RU"></label>
                                <textarea readonly class="form-control form-control" asp-for="Content_RU"></textarea>
                                <span asp-validation-for="Content_RU" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" asp-for="Content_EN"></label>
                                <textarea readonly class="form-control form-control" asp-for="Content_EN"></textarea>
                                <span asp-validation-for="Content_EN" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" asp-for="Content_TR"></label>
                                <textarea readonly class="form-control form-control" asp-for="Content_TR"></textarea>
                                <span asp-validation-for="Content_TR" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" asp-for="StartDate"></label>
                                <input readonly type="date" class="form-control form-control" asp-for="StartDate">
                                <span asp-validation-for="StartDate" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" asp-for="EndDate"></label>
                                <input readonly type="date" class="form-control form-control" asp-for="EndDate">
                                <span asp-validation-for="EndDate" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Admin/vendor/ckeditor/ckeditor.js"></script>

    <script>
        ClassicEditor
            .create(document.querySelector('#Content_AZ'), {
                viewportTopOffset: 50,
                toolbar: ['heading', '|', 'bold', 'italic', 'bulletedList', 'link', 'imageUpload'],
                simpleUpload: {
                    uploadUrl: '/admin/company/upload',
                    withCredentials: true
                },
            })
            .then(editor => {
                editor.isReadOnly = true; // make the editor read-only right after initialization
            })
            .catch(error => {
                console.error(error);
            })

        ClassicEditor
            .create(document.querySelector('#Content_RU'), {
                viewportTopOffset: 50,
                toolbar: ['heading', '|', 'bold', 'italic', 'bulletedList', 'link', 'imageUpload'],
                simpleUpload: {
                    uploadUrl: '/admin/company/upload',
                    withCredentials: true
                }
            })
            .then(editor => {
                editor.isReadOnly = true; // make the editor read-only right after initialization
            })
            .catch(error => {
                console.error(error);
            })


        ClassicEditor
            .create(document.querySelector('#Content_EN'), {
                viewportTopOffset: 50,
                toolbar: ['heading', '|', 'bold', 'italic', 'bulletedList', 'link', 'imageUpload'],
                simpleUpload: {
                    uploadUrl: '/admin/company/upload',
                    withCredentials: true
                }
            })
            .then(editor => {
                editor.isReadOnly = true; // make the editor read-only right after initialization
            })
            .catch(error => {
                console.error(error);
            })

        ClassicEditor
            .create(document.querySelector('#Content_TR'), {
                viewportTopOffset: 50,
                toolbar: ['heading', '|', 'bold', 'italic', 'bulletedList', 'link', 'imageUpload'],
                simpleUpload: {
                    uploadUrl: '/admin/company/upload',
                    withCredentials: true
                }
            })
            .then(editor => {
                editor.isReadOnly = true; // make the editor read-only right after initialization
            })
            .catch(error => {
                console.error(error);
            })
    </script>
}
