<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="2147483647" />
			</requestFiltering>
		</security>
		<rewrite>
			<rules>
				<rule name="Redirect rquests to default azure websites domain" stopProcessing="true">
					<match url="(.*)" />
					<conditions logicalGrouping="MatchAny">
						<add input="{HTTP_HOST}" pattern="^nobeloil\.com$" />
					</conditions>
					<action type="Redirect" url="http://www.nobelenergy.com/{R:0}" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>

